<% include ../partials/header %>

<div class="ui main container">
  <div class="ui huge header">
    <h1>View your books</h1>
  </div>

  <a href="/books/new" class="ui green button">Add a new book!</a>

  <br>
  <br>

  <div class="ui four column grid">
    <% books.forEach(function(book) { %>
      <div class="column">
        <a href="#">
          <div class="ui segment">
            <div class="ui medium center aligned image">
              <img src="<%= book.coverImage %>">
            </div>
            <hr>
            <div class="ui center aligned content">
              <div class="ui big header"><%= book.title %></div>
              <span>By <%= book.author %></span>
            </div>
          </div>
        </a>
      </div>
    <% }); %>
  </div>

</div>

<% include ../partials/footer %>
