<% include ../partials/header %>

<div class="ui main container">

  <div class="ui large message">
    <% if (searchTerm) { %>
      <h1>Book search results for "<%= searchTerm %>":</h1>
      <p>Didn't find what you were looking for?</p>
    <% } %>
    <form class="ui fluid action icon input" action="/books/search" method="POST">
      <input type="text" name="searchTerm" placeholder="<%= (searchTerm) ? 'Try again...' : 'Search for a book...' %>">
      <button class="ui icon button"><i class="search icon"></i></button>
    </form>
  </div>

  <br>

  <% if (searchTerm && books && books.length === 0) { %>
    <p>No results found. Please recheck your query and try again. If the book you are looking for isn't found, <a href="/books/request">request it here</a> and it will be added to our database shortly.</p>
  <% } %>

  <% include ../partials/books/index %>

</div>

<% include ../partials/footer %>
