<% include ../partials/header %>

<div class="ui main text container segment">

  <div class="ui huge header">
    <h1>New chapter summary for <%= book.title %></h1>
  </div>

  <form class="ui form" action="/books/<%= book._id %>/chapters" method="POST">
    <div class="ui fields">
      <div class="three wide field">
        <label for="number">Chapter Number:</label>
        <input type="number" name="number" min="1" step="1" value="<%= book.chapters.filter((chapter) => chapter.author.id.equals(currentUser._id)).length + 1 %>">
      </div>
      <div class="thirteen wide field">
        <label for="title">Title:</label>
        <input type="text" name="title" placeholder="Title">
      </div>
    </div>

    <div class="field">
      <label for="summary">Your Summary:</label>
      <textarea name="summary" class="editor" placeholder="Summary of this chapter"></textarea>
    </div>

    <div class="field">
      <div class="ui toggle checkbox">
        <input type="checkbox" name="isPublic" value="true" tabindex="0" class="hidden">
        <label for="isPublic">Allow other people to see this chapter summary</label>
      </div>
    </div>
    
    <button class="ui button">Submit!</button>
  </form>

</div>

<% include ../partials/footer %>
