<% include ./partials/header %>

<div class="ui main container">
  <div class="ui middle aligned center aligned grid">
    <div class="column user-form">
      <h1 class="ui huge header">
        <div class="content">
          Log-in to Summrise
        </div>
      </h1>
      <form class="ui large form" action="/login" method="POST">
        <div class="ui segment">
          <div class="field">
            <div class="ui left icon input">
              <i class="user icon"></i>
              <input type="text" name="username" placeholder="Username">
            </div>
          </div>
          <div class="field">
            <div class="ui left icon input">
              <i class="lock icon"></i>
              <input type="password" name="password" placeholder="Password">
            </div>
          </div>
          <button class="ui large fluid button">Login</button>
        </div>
      </form>

      <div class="ui message">
        New to us?  <a href="/register">Sign Up</a>
      </div>
    </div>
  </div>
</div>



<% include ./partials/footer %>
