<% include ./partials/header %>

<div class="ui main container">
  <div class="ui middle aligned center aligned grid">
    <div class="left aligned column user-form">
      <h1 class="ui center aligned huge header">
        <div class="content">
        <% if (currentUser && currentUser.isAdmin) { %>
          Add a new user to Summrise
        <% } else { %>
          Sign up to Summrise
        <% } %>
        </div>
      </h1>
      <form class="ui large form" method="POST" action="/register">
        <div class="ui segment">
          <div class="field">
            <label for="email">Email Address:</label>
            <input type="email" name="email" placeholder="email@address.com">
          </div>
          <div class="field">
            <label for="username">Username:</label>
            <input type="text" name="username"  placeholder="Username">
          </div>
          <div class="field">
            <label for="password">Password:</label>
            <input type="password" name="password" placeholder="Password">
          </div>
          <% if (currentUser && currentUser.isAdmin) { %>
            <div class="field">
              <div class="ui toggle checkbox">
                <input type="checkbox" name="isAdmin" value="true" tabindex="0" class="hidden">
                <label for="isAdmin">Add this user as administrator</label>
              </div>
            </div>
            <input class="ui fluid button" type="submit" value="Add user">
          <% } else { %>
            <input class="ui fluid button" type="submit" value="Sign-up!">
          <% } %>
        </div>
      </form>

      <% if (!currentUser) { %>
        <div class="ui center aligned message">
          Already have an account?  <a href="/login">Log-in</a>
        </div>
      <% } %>

    </div>
  </div>
</div>

<% include ./partials/footer %>
