.container.main.segment {
	margin-top: 5.0em;
	margin-bottom: 5.0em;
}

.ui.yellow.buy.button {
	color: black;
}

.ui.yellow.buy.button:hover {
	color: black;
}

.container.main {
	margin-top: 5.0em;
	margin-bottom: 5.0em;
}

.container.flash {
	margin-top: 5.0em;
	margin-bottom: -2.9em;
}

.user-form {
	margin-top: 8.0em;
  max-width: 500px;
}

.container.flash.login-margin {
	margin-bottom: -9.9em;
}

/* CKEditor 5 Styling  */

.ck-editor__editable.ck-rounded-corners.ck-editor__editable_inline {
	height: 300px;
}

/* End CKEditor 5 Styling  */
