html {
  height: 100%;
}

body {
  background: url("../images/landing.jpg");
  background-size: cover;
  background-position: center;
  font-family: 'Lato', sans-serif;
}

#content {
	text-align: center;
	padding: 25%;
	text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4),
				 0px 8px 13px rgba(0, 0, 0, 0.1),
				 0px 18px 23px rgba(0, 0, 0, 0.1);
  color: white;
}


.wide-header {
	font-weight: 600;
	font-size: 5em;
}

.narrow-header {
	font-weight: 600;
	font-size: 3em;
}

hr {
	color: white;
	border-top: 1px solid white;
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

/* ==================================================== */

/* .masthead.segment {
  min-height: 700px;
  padding: 1em 0em;
  background: url("../images/landing.jpg");
  background-size: cover;
  background-position: center;
}
.masthead .logo.item img {
  margin-right: 1em;
}
.masthead .ui.menu .ui.button {
  margin-left: 0.5em;
}
.masthead h1.ui.header {
  margin-top: 3em;
  margin-bottom: 0em;
  font-size: 4em;
  font-weight: normal;
}
.masthead h2 {
  font-size: 1.7em;
  font-weight: normal;
}

@media only screen and (max-width: 700px) {
  .ui.fixed.menu {
    display: none !important;
  }
  .secondary.pointing.menu .item,
  .secondary.pointing.menu .menu {
    display: none;
  }
  .secondary.pointing.menu .toc.item {
    display: block;
  }
  .masthead.segment {
    min-height: 350px;
  }
  .masthead h1.ui.header {
    font-size: 2em;
    margin-top: 1.5em;
  }
  .masthead h2 {
    margin-top: 0.5em;
    font-size: 1.5em;
  }
} */
