<% include ../partials/header %>

<div class="ui main container">
  <div class="ui four cards">
    <% requests.forEach(function(request) { %>
      <div class="card">
        <div class="content">
          <div class="ui huge header">
            <%= request.title %>
          </div>
          <div class="meta">
            By <%= request.author %>
          </div>
        </div>
        <div class="extra content">
          <div class="ui buttons">
            <div>
              <a href="/books/new/<%= request._id %>" class="ui basic green button">Add to database</a>
            </div>
            <form action="/books/request/<%= request._id %>?_method=DELETE" method="POST">
              <button class="ui basic red button delete-btn">Delete request</button>
            </form>
          </div>
        </div>
      </div>
    <% }); %>
  </div>
</div>

<% include ../partials/footer %>
